.section-form {
  margin: auto;
  width: 70%;
  padding: 2rem 0;
}

.section-form form {
  display: flex;
  flex-direction: column;
  width: 50%;
  margin: auto;
  font-size: 1.5rem;
}

input,
select {
  font-size: 1.5rem;
  margin-bottom: 1rem;
}

.container-button {
  padding: 1rem;
  display: flex;
  justify-content: space-between;
}
